
/* style.css is the layout of the website which is things such as color, font, and adding other decorations to the slide*/

body{
    font-family: monospace;
    background-color: rgba(47, 57, 47, 0.933);
  }
  
  .outputBox{
    min-height: 80px;
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
  }
 /* this is for the customization of the buttons on the website */
  button{
    background-color: white;
    padding: 10px;
    font-family: monospace;
    border: none;
    cursor: pointer;
    
  }

/* this is how big the images are and where they go*/
  #images{
    width:100%;
    height: auto;
  }
  
  header{
    background: rgb(15, 113, 23);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 50px;
  }
  
  select{
    padding: 10px;
    font-family: monospace;
    cursor: pointer;
  }
  
  input{
    padding: 10px;
    font-family: monospace;
  }

  p{
    color: white
  }