body{
    font-family: monospace;
    background-color: rgba(47, 57, 47, 0.933);
  }
  
  .outputBox{
    min-height: 80px;
    width: 60%;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
  }
  
  button{
    background-color: white;
    padding: 10px;
    font-family: monospace;
    border: none;
    
  }


  #images{
    width:100%;
    height: auto;
  }
  
  header{
    background: rgb(15, 113, 23);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 50px;
  }
  
  select{
    padding: 10px;
    font-family: monospace;
    cursor: pointer;
  }
  
  input{
    padding: 10px;
    font-family: monospace;
  }
